.layout--twocol-section > .layout__region,
.layout--threecol-section > .layout__region,
.layout--fourcol-section > .layout__region {
  padding: 0 ($spacer / 2);

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}
