.custom-radio label {
  margin-left: 1.5rem;
}
.form-required::after {
  background-image: none;
  margin: 0;
}
.required-mark::after {
  display: inline-block;
  width: 6px;
  height: 6px;
  content: "";
  vertical-align: super;
  background-image: url(/core/misc/icons/ee0000/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
}

.form-item.error {
  .custom-radio,
  .custom-checkbox {
    .custom-control-label:before {
      border-color: theme-color("danger");
    }
    .custom-control-input:checked ~ .custom-control-label:before {
      background-color: theme-color("danger");
    }
  }
}

.form-item,
.form-wrapper {
  &.odd,
  &.even {
    padding: 1rem;
    margin: 0;
    border-top: $border-width solid $border-color;
    border-bottom: $border-width solid $border-color;

    ~ .form-item,
    ~ .form-wrapper {
      &.odd,
      &.even {
        margin-top: -$border-width;
      }
    }

    .form-wrapper,
    .form-item {
      padding: 0;
      border: none;
    }
  }

  &.odd {
    background-color: $table-accent-bg;
  }
  &.even {
    .form-wrapper,
    .form-item {
      &.odd {
        background: none;
      }
    }
  }

  .details-wrapper {
    padding: 0.5em;
  }
}

.form-item.form-type-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  > label {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 40%;
    flex: 1 0 40%;
  }
  > .field-value {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 60%;
    flex: 1 0 60%;
    border-bottom: $border-width solid $border-color;
    padding: .5rem;
  }
}
